<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question %>
</p>

<p>
  <strong>Guide:</strong>
  <%= @question.guide %>
</p>

<p>
  <strong>Field type:</strong>
  <%= @question.field_type %>
</p>

<p>
  <strong>Required:</strong>
  <%= @question.required %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
