<h1>Membership Signup Form</h1>
<%= simple_form_for(@membership_inquiries, url: memberships_path) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-inputs">
    
    <% @questions.each do |q| %>
        <%= f.input :session_id,  input_html: {name: "questions[]session_id", value: session[:session_id], multiple: true}, as: :hidden %>
        <%= f.input :question_id, input_html: {name: "questions[]question_id", value:q.id, multiple: true }, as: :hidden %>
        <%= 
            case q.field_type
            when 'radio_button'
              f.send('input', :answer, input_html: {name: "questions[]answer", multiple: true }, label: q.question, as: :radio_buttons, collection: ['1','2'] )   
            else
               f.send('input', :answer, input_html: {name: "questions[]answer",multiple: true }, label: q.question, :as => :string )
            end
        %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
